---
layout: default
sidebar: collapse
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="prev" href="{{paginator.previous_page_path}}">前一页#{{ paginator.page | minus:1 }}</a>
    {% endif %}
	<span> 第 {{ paginator.page }} 页 </span>
    {% if paginator.next_page %}
      <a class="next" href="{{paginator.next_page_path}}">下一页#{{ paginator.page | plus:1 }}</a>
    {% endif %}
  </div>
  <!-- <div class="pagination">
	  <a href="/blog/archives">Blog Archives</a>
  </div> -->
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
