// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html 
{
    background: url('/images/line-tile.png?1440902514') top left !important;
}

body {
	border:1px solid #eee;
	nav {
		background: url('/images/noise.png?1440902514') !important;
		margin-top:-45px !important;
		border:0px !important;
		
		ul { 
			float:right !important;
		}
		
		li+li{
			border-left:0px;
			a {
				border-left:0px;
			}
		}
		
		li a:hover {
			color:#0181eb !important;
		}
	}
}

body header[role=banner]
{
	background: #fff url('/images/pattern.png?1440902514') top left !important;
	h1 a { 
		color:red !important; 
		font-size: 1.2em !important;
	}
	h2 { color:black !important; }
}

body > footer 
{
    font-size: 1em;
    color: #888;
    text-shadow: #d9d9d9 0 1px;
    background-color: none !important;
    background: url('/images/noise.png?1440902514'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(50%, #dfdfdf), color-stop(100%, #cccccc));
    background: url('/images/noise.png?1440902514'), -moz-linear-gradient(#efefef, #dfdfdf, #cccccc);
    background: url('/images/noise.png?1440902514'), -webkit-linear-gradient(#efefef, #dfdfdf, #cccccc);
    background: url('/images/noise.png?1440902514'), linear-gradient(#efefef, #dfdfdf, #cccccc);
    border-top: 1px solid #f2f2f2;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0px !important;
    -moz-border-radius-bottomleft: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -moz-border-radius-bottomright: 0.4em;
    -webkit-border-bottom-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    z-index: 1
}

#blog-archives 
{
	article h1 {
		font-size:1.3em !important;
	}
}

#content 
{
	h1.entry-title {
		font-size: 1.6em !important;
		font-weight: normal !important;
	}
	div.pagination span {
		color:#aaa;
	}
	
	div.pagination span:after,div.pagination span:before {
		content:'\2014';
	}
	
	.blog-index a[rel=full-article]:hover {
		color:#0181eb;
	}
	
	.blog-index a[rel=full-article] {
	    background: none !important;
	    display: inline-block;
	    padding: .4em .8em;
	    margin-right: .5em;
	    text-decoration: none;
	    color: #666;
	    -moz-transition: background-color 0.5s;
	    -o-transition: background-color 0.5s;
	    -webkit-transition: background-color 0.5s;
	    transition: color 0.5s !important
	}
}

article blockquote {
	font-size: 1em !important;
}

figure.code figcaption {
	background:none !important;
	border: 1px solid #e0e0e0 !important;
	font-size: 20px !important;
	line-height: 2.5em !important;
	font-family: Palatino !important;
	text-shadow: none !important;
}

.highlight 
{
	background: #eee url('/images/noise.png?1440902514') top left !important;
	border: 1.5px solid #e6e6e6 !important;
	table, code {
		background: #fff url('/images/noise.png?1440902514') top left !important;
	}
	
	*::selection {
		background: #cceeff url('/images/noise.png?1440902514') top left !important;
		text-shadow: none !important;
	}
	
	.line-numbers {
		background: #fff url('/images/noise.png?1440902514') top left !important;
		border-right: 1px solid #e0e0e0 !important;
		span { 
			color: #859900 !important; 
		}
		text-shadow: none !important;
		font-size: 15px;
	}
	
	pre {
		font-size: 15px;
	}
	

}